# https://packaging.python.org/en/latest/guides/using-manifest-in/
recursive-include src/getargv *
exclude src/getargv/compile_commands.json
recursive-exclude src/getargv/build *
include README.md
include LICENSE.txt
